/* TYPOGRAPHY */

h1 {
    font-size: 4rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0.6rem;
   letter-spacing: 1px;
}

h2 {font-size: 1.3em;
    font-weight: 500;
margin-bottom: 1.5rem
}

h3 {font-size: 1.1em;
    font-weight: 500;
margin-bottom: 0.5rem
}

h4 {font-size: 1em;
    font-weight: 500;
   margin-top: 0.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.35rem;
}

.versjon {
   margin: 1em 0;   
}

.roadmap {
   p {
      font-size:0.9rem;
   }
}

/* END TYPOGRAPHY */