/* 8 YARD LABS */
/* Codename: Sjokolator/Chocolator */
/* 2019 8yd.no */
/* v 0.9 */

html,
input {
  font-family: "Work Sans", sans-serif;
  letter-spacing: -0.02em;
}

body {
  background-color: hsl(63, 82%, 96%);
  color: hsl(270, 26%, 53%);
  width: 100%;
}

/* TOPP/INN */

.hode,
.inn,
.ut {
  width: 100%;
  max-width: 1320px;
}

.hode {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 1em;
  margin: 1em 0 4em;

  p {
    flex: 1 1 100%;
    font-size: 1.5rem;
    line-height: 1.35em;
    order: 3;
  }
}

.sprog {
  flex: 0 1 auto;
  margin-bottom: 1.5em;
  font-size: 0.9rem;
}

.logo {
  flex: 1 0 auto;
  max-width: 200px;
  margin-bottom: 1em;
}

.inn {
  padding: 1em;
}

/* SKJEMA */

.sjokoinfo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  justify-content: space-between;
  align-items: flex-end;

  p {
    flex: 0 1 24%;
    width: 24%;
  }
}

input,
label {
  display: block;
}

.sjokoinfo input {
  background-color: hsl(63, 40%, 90%);;
  color: hsl(270, 26%, 53%);
  width: 92%;
  padding: 3px 6px 4px;
  border: 0;
  border-bottom: 1px solid hsl(270, 26%, 53%);
  border-radius: 3px 3px 0 0;
  outline: none;
  height: 2em;
  font-size: 1rem;
  margin-bottom: 20px;
  box-shadow: none;
  box-sizing: content-box;
}

.sjokoinfo input:focus {
  padding: 3px 6px 3px;
  border-bottom: 2px solid hsl(270, 26%, 53%);
  transition: all 0.5s;
}

::placeholder {
  color: hsl(270, 26%, 53%);
  opacity: 1; /* Firefox */
}

label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.3em;
}

/* RESULTAT */
.ut {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1em;
}

#betar {
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 1em;
  margin-bottom: 1em;
  width: 100%;
  border-bottom: 1px solid hsl(270, 26%, 53%);
}

#resfigur {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  width: 100%;
}

.reschild {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 33%;
  width: 33%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 12px;
}

#resplate {
  flex-flow: row wrap;
}

#resrad {
  flex-flow: column nowrap;
  border-left: 1px solid hsl(270, 26%, 53%);
}

#resrute {
  flex-flow: row wrap;
  border-left: 1px solid hsl(270, 26%, 53%);
}

.sjokoplate {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  margin: 4px;
  background-color: hsl(10, 47%, 33%);
  padding: 2px;
  border-radius: 3px;
}

.sjokorad {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

#resrad > .sjokorad {
  margin: 3px;
}

.sjokorute {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 24px;
  height: 34px;
  background: hsl(20, 79%, 16%) url("//8yd.no/assets/yard/labs/sjokolator/chock.png")
    no-repeat 0 0;
  background-size: cover;
  margin: 1px 0;
  box-sizing: content-box;
}

#resrute > .sjokorute {
  margin: 3px;
}

/* ROADMAP */

.roadmap {
  margin: 2em auto 0 auto;
  width: 100%;
  padding: 1em;
  max-width: 1320px;
}

/* FOT */

footer {
  margin-top: 2em;
  padding: 20px;
  font-size: 0.7rem;
  line-height: 1.2em;

  img {
    width: 30px;
  }
}
