/* SMALLER THAN DESKTOP */

/************* Små skjermer under 1024 *************/

@media only screen and (max-width: 1024px) {
  .hode,
  .inn,
  .ut {
    padding: 0 5%;
  }

  .ut {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .roadmap,
  footer {
    padding: 20px 5%;
  }
}

/************* Nettbrett og dess like *************/

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  .hode {
    margin-bottom: 2em;
    p {
      font-size: 1.1rem;
    }
  }

  .sjokoinfo {
    p {
      flex-basis: 48%;
      width: 48%;
    }
  }

  #betar {
    font-size: 1.4rem;
    line-height: 1.9em;
  }

  #resfigur {
    flex-flow: column nowrap;
  }

  .reschild {
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-basis: 100%;
    width: 100%;
    padding: 12px;
  }

  #resplate {
    flex-flow: row wrap;
  }

  #resrad {
    flex-flow: column nowrap;
    border-top: 1px solid #8667a6;
    border-left: none;
  }

  #resrute {
    flex-flow: row wrap;
    border-top: 1px solid #8667a6;
    border-left: none;
  }
}

/************* Mobil *************/

@media only screen and (max-width: 500px) {
  
  .sprog {
    order: 1;
    flex: 1 0 100%;
  }

  .logo {
    order: 2;
    flex: 1 0 100%;
  }
  
  .sjokoinfo {
    flex-flow: column nowrap;

    p {
      flex-basis: 100%;
      width: 100%;
    }
  }
}

/* END */
