@import "reset";
@import "vars";

html,
input,
button {
  font-family: system-ui, /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ Segoe UI, /* Android 4+ */ Roboto,
    /* Ubuntu 10.10+ */ Ubuntu, /* Gnome 3+ */ Cantarell,
    /* KDE Plasma 5+ */ Noto Sans, /* fallback */ sans-serif,
    /* macOS emoji */ "Apple Color Emoji", /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol", /* Linux emoji */ "Noto Color Emoji";
}

body {
  background-color: hsl(0, 0%, 94%);
  color: var(--colr-text);
  width: 100%;
}

a {
  color: var(--colr-link);
}
a:hover {
  color: hsl(207, 100%, 20%);
}

p {
  font-size: 1rem;
  line-height: 1.35em;
}

.lo--center {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5vw;
  padding-right: 5vw;
}
