@import "reset";
@import "vars";

html,
input,
button {
  font-family: system-ui, /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ Segoe UI, /* Android 4+ */ Roboto,
    /* Ubuntu 10.10+ */ Ubuntu, /* Gnome 3+ */ Cantarell,
    /* KDE Plasma 5+ */ Noto Sans, /* fallback */ sans-serif,
    /* macOS emoji */ "Apple Color Emoji", /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol", /* Linux emoji */ "Noto Color Emoji";
}

body {
  background-color: hsl(60, 8%, 94%);
  color: var(--colr-text);
  width: 100%;
}

a {
  color: var(--colr-link);
}
a:hover {
  color: hsl(207, 100%, 20%);
}

p {
  font-size: 1rem;
  line-height: 1.35em;
}

.lo--center {
  width: 100%;
  max-width: 82rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

.choco-bar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  margin: 0.25rem;
  background-color: hsl(10, 47%, 33%);
  border-radius: 0.15rem;
}

.choco-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.choco-pcs {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 1.5rem;
  height: 2.125rem;
  background: hsl(20, 79%, 16%)
    url("//8yd.no/assets/yard/labs/sjokolator/chock.png") no-repeat 0 0;
  background-size: cover;
  margin: 1px 0;
  box-sizing: content-box;
}
