<!DOCTYPE html>
<html
  lang="<%= htmlWebpackPlugin.options.lang %>"
  xml:lang="<%= htmlWebpackPlugin.options.lang %>"
  xmlns="http://www.w3.org/1999/xhtml"
>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="https://8yd.no/yard/ico/apple-touch-icon.png?v=20171028"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="https://8yd.no/yard/ico/favicon-32x32.png?v=20171028"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="https://8yd.no/yard/ico/favicon-16x16.png?v=20171028"
  />
  <link
    rel="mask-icon"
    href="https://8yd.no/yard/ico/safari-pinned-tab.svg?v=20171028"
    color="#242f7a"
  />
  <link
    rel="shortcut icon"
    href="https://8yd.no/yard/ico/favicon.ico?v=20171028"
  />
  <meta
    name="theme-color"
    content="<%= htmlWebpackPlugin.options.themeColour %>"
  />
  <link href="./<%= htmlWebpackPlugin.files.css %>" rel="stylesheet" />
  <script src="./<%= htmlWebpackPlugin.files.js %>" defer></script>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://analytics.8yd.no/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '3']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
</html>
